// BASE COLORS
$color-white: #fff;
$color-black: #000;

// MAIN THEME
$color-gold: #ffc235;
$blue-dark: #1f4e99;
$blue-light: #2aafec;

// SERVICES
$color-green: #22b152;
$color-green-light: #52ca3d;
$color-green-dark: #06b47a;

// FONT SIZES
$default-font-size: 1.6rem;
